
<h1>Password Checker</h1>

<form action="check_password" method="get">
  <input type="text" name="user_id" placeholder="Enter User ID"/>
  <input type="text" name="password" placeholder="Enter Password"/>
  <input type="submit" value="Submit Login"/>
</form>
